<nav class="nav-container group" id="nav-footer">
    <div class="nav-text">2014 -- 2016 鲁ICP备15003072号</div>
    <div class="nav-wrap"><ul class="nav container group">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-758">
                <p class="social-link"> <a class="github" href="https://github.com/xiaoyang4011" target="_blank">
                        <i class="fa fa-github"></i>
                    </a></p></li>

            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-758">

                <a href="http://www.miibeian.gov.cn/" rel="nofollow" target="_blank">Copyright © 2014 --
                    2016  鲁ICP备15003072号</a>

            </li>

        </ul></div>
</nav>