<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cn">
<head>
    <link rel='stylesheet' href="stylesheets/css/bootstrap.min.css" type='text/css' media='all'/>
    <link rel='stylesheet' href="stylesheets/css/all.css" type='text/css' media='all'/>
    <link rel='stylesheet' href="stylesheets/css/style.css" type='text/css' media='all'/>
    <link rel='stylesheet' href="stylesheets/css/select2.css" type='text/css' media='all'/>
    <script src="javascripts/jquery-2.1.4.min.js"></script>
    <script src="javascripts/select2.full.min.js"></script>
    <script src="javascripts/vue.min.js"></script>
    <script src="javascripts/vue-resource.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>ShawnYang</title>
</head>
<body>