<header id="header">
    <div class="menu" id="menu">
        <a href="" >
            <i class="fa fa-paper-plane"></i>
        </a>
    </div>
    <div class="container">
        <div class="pad group">
            <h1 class="site-title">
                <a href="" >
                    <img src="/images/psu.jpg" alt="img">
                </a>
            </h1>
            <p class="site-description" id="site-description">Happy Hacking!</p>
        </div>

    </div>
</header>