<header id="header">
    <div class="menu" id="menu">
        <a target="_blank" href="/about-me" >
            <i class="fa fa-paper-plane"></i>
        </a>
    </div>
    <div class="container">
        <div class="pad group">
            <h1 class="site-title">
                <a target="_blank" href="/about-me" >
                    <img src="/images/psu.jpg" alt="img">
                </a>
            </h1>
            <p class="site-description" data-text="Always yield to the Hands-On Imperative!" id="slogan"></p>

        </div>

    </div>
</header>