.post-title a:hover{
    text-decoration:none;
}
.error{
    margin-top: 6px;
}
.error a{
    text-decoration:none;
}
.right_edit{
    text-align:right;
    margin-right: 25px;
}
.wechat {
    position:absolute;
    margin-left: 50px;
    margin-top: 50px;
    height: 150px;
    width: 150px;
}