<%- include ./../header%>
<div class="body">
    <%- include ./../nav%>
    <br>
    <div class="container">
        <div id="post" class="col-md-10 col-md-offset-1">
            <div class="col-md-4 col-md-offset-5">登陆</div>
            <br>
            <form action="/login" method="post">

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="hidden" name="_csrf" value="<%= csrf%>">
                    <input class="form-control" name="name" type="text">
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" name="password" type="password">
                </div>
                <div class="form-group">
                    <input class="btn btn-success form-control" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
<%- include ./../bottom%>