<%- include ./../header%>
<div id="wrapper">

    <div id="page" class="container">
        <div class="main group at-post">
            <section class="content">

                <div class="pad group">

                    <article>

                        <div class="post-inner at-post">
                            <h1 class="post-title pad at-post"> <%-error%> </h1>
                            <div class="post-content pad">
                                <div class="entry">

                                     <span style="width:100%;text-align:center;" class="glyphicon glyphicon-log-in" aria-hidden="true">
                                         <div class="error">
                                             <a href="/">回到主页</a>
                                         </div>
                                     </span>


                                </div>
                            </div><!--/.post-content-->

                        </div><!--/.post-inner-->

                    </article><!--/.post-->
                </div><!--/.pad-->

            </section><!--/.content-->
        </div>
    </div>
</div>
<%- include ./../bottom%>