<%- include ./../header%>
<div id="wrapper">

    <div id="page" class="container">
        <div class="main group at-post">
            <section class="content">

                <div class="pad group">

                    <article>

                        <div class="post-inner at-post">
                            <h1 class="post-title pad at-post"> aadadawda </h1>
                            <div class="post-content pad">
                                <div class="entry">
                                    aadadawdwadawdawd
                                </div>
                            </div><!--/.post-content-->

                        </div><!--/.post-inner-->

                    </article><!--/.post-->
                </div><!--/.pad-->

            </section><!--/.content-->
        </div>
    </div>
</div>
<%- include ./../bottom%>